@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2017-10-18 15:49:58
 * @version $Id$
 */
.activity-title{
	padding:0.333rem;
	font-size:0.75rem;
	color:#fff;
	font-weight:normal;
	background-color:#5CA451;
	line-height:0.75rem;
	text-align:center;
}
.activity-detail{
	padding-top:3%;
}
.activity-detail .activity-info ul li{
	margin:auto;
	width:80%;
	font-size:0.5rem;
	color:454647;
	line-height:1rem;
}
.activity-detail .activity-info ul li:after{
	content: '';
	display: block;
	height: 0;
	line-height: 0;
	visibility: hidden;
	clear: both;
}
.activity-detail .activity-info ul li span{
	display:block;
	float:left;
	width:18%;
	font-weight:bold;
	text-align:right;
}
.activity-detail .activity-info ul li span.info{
	width:70%;
	padding-left:2%;
	font-weight:normal;
	text-align:left;
}
.activity-detail .activity-img{
	margin-top:0.667rem;
}
.activity-detail .activity-img .img-box{
	margin:0.667rem auto;
	width:80%;
	text-align:center;
}
.activity-detail .activity-img .img-box img{
	max-width:100%;
}
.activity-detail .activity-content{
	margin:auto;
	padding-bottom:1.667rem;
	width:80%;
	font-size:0.6rem;
	color:#454647;
	line-height:1.5;
}

