@charset "UTF-8";
/**
 * 
 * @authors liugang (742230063@qq.com)
 * @date    2017-10-18 08:26:46
 * @version 1.0
 */

.page-title{
	padding:4%;
	font-size:1rem;
	color:#DD4E42;
	text-align:center;
}
/* .page-title .icon-fire{
	font-size:1rem;
	color:#FD8813;
} */
.topbar{
	min-width:320px;

}
.topbar ul{
	float:right;
}
.topbar ul li{
	float:left;
}

.topbar ul li a{
	display:block;
	padding:0.4rem 0.3rem;
	font-size:0.6rem;
	color:#454647;
}
.topbar ul li a:hover{
	color:#666;
	text-decoration:underline;
}
.adv{
	margin:0.3rem auto;
	width:96%;
	font-size:100rem;
	line-height:0;
}
.adv img{
	margin:0;
	padding:0;
	width:0.192em;
	height:0.11em;
	vertical-align:top;
}
.content{
	padding-bottom:1.667rem;
}
.content .section .title-bar{
	padding:3% 2%;
	font-size:0.45rem;
	color:#444;
	line-height:0.75rem;
	border-top:0.2rem solid #ccc;
	border-bottom:1px solid #eee;
}
.content .section .title-bar h3{
	float:left;
	font-size:0.667rem;
	text-indent:1em;
	border-left:0.3rem solid #DD4E42;
}
.content .section .title-bar .more{
	display:block;
	float:right;
	width:3rem;
	font-size:0.6rem;
	text-align:center;
}
