@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2017-10-18 21:24:14
 * @version $Id$
 */
.menu{
	height:4rem;
	color:#fff;
	font-size:1.6rem;
	line-height:4rem;
	background-color:#666;
	text-align:center;
}
.menu ul li{
	float:left;
	width:25%;
	cursor:pointer;
}
.menu ul li:hover{
	background-color:#444;
}

.menu-content{
	display:none;
	background-color:#f6f6f6;
}

.menu-content #chart{
	padding:5rem 2rem;
	width:100%;
	height:30rem;
}
.menu-content .activity-box{
	position:relative;
	padding:3%;
	background-color:#f6f6f6;
	border-bottom:1px solid #ccc;
}
.menu-content .activity-box a{
	display:block;
	float:left;
	width:73%;
}
.menu-content .activity-box a img{
	display:block;
	float:left;
	width:30%;
	min-height:4rem;
}
.menu-content .activity-box a .title{
	float:left;
	padding:1.2% 0 1% 1%;
	width:66%;
	font-size:1.6rem;
	color:#454647;
	line-height:2.4rem;
	max-height:4.8rem;
	overflow:hidden;
}
.menu-content .activity-box .operation{
	float:left;
	padding:1% 0;
	width:17%;
	font-size:1.6rem;
	line-height:2.4rem;
	text-align:center;
}
.menu-content .activity-box .operation .pass{
	color:#5dB431;
	cursor:pointer;
}
.menu-content .activity-box .operation .pass:hover{
	text-decoration:underline;
}
.menu-content .activity-box .operation .stop{
	color:#DD4E42;
	cursor:pointer;
}
.menu-content .activity-box .stop:hover{
	text-decoration:underline;
}
 .menu-content .activity-box .operation .delete{
	color:#DD4E42;
	cursor:pointer;
	line-height:3rem;
}
.menu-content .activity-box .delete:hover{
	text-decoration:underline;
} 

/* .menu-content .search-box{
	margin:auto;
	padding:5% 0 0;
	width:50%;
}
.menu-content .search-box input{
	display:block;
	float:left;
	width:70%;
	height:3.2rem;
	font-size:1.6rem;
	color:#454647;
	line-height:3.2rem;
	text-indent:1em;
	border:none;
	outline:none;
	border-radius:2px 0 0 2px;
}
.menu-content .search-box button{
	display:block;
	float:left;
	width:30%;
	height:3.2rem;
	font-size:1.6rem;
	color:#fff;
	background-color:#5dB431;
	border:none;
	outline:none;
	cursor:pointer;
	border-radius:0 2px 2px 0;
}
.menu-content .search-box button:hover{
	background-color:#5CB451;
}
.menu-content .tip{
	height:2rem;
	font-size:1.6rem;
	color:#DD4E42;
	line-height:2rem;
	text-align:center;
} */
.menu-content .addAccount a{
	display:block;
	padding:3% 5% 4%;
	font-size:1.6rem;
	color:#5dB431;
	text-align:right;
}
.menu-content .sub-account-box .sub-account{
	padding:0 5%;
	border-top:1px solid #eee;
	border-bottom:1px solid #eee;
}
.menu-content .sub-account-box .sub-account ul{
	width:80%;
	float:left;
}
.menu-content .sub-account-box .sub-account ul li{
	float:left;
	padding:3%;
	font-size:1.6rem;
	color:#454647;
}
.menu-content .sub-account-box .sub-account ul li span{
	display:inline-block;
	text-align:right;
}
.menu-content .sub-account-box .sub-account ul li span.info{
	padding-left:1rem;
}
.menu-content .sub-account-box .sub-account .delete-account{
	float:left;
	padding:3% 0;
	width:20%;
	font-size:1.6rem;
	color:#DD4E42;
	cursor:pointer;
	text-align:center;
}
.menu-content .sub-account-box .sub-account .delete-account:hover{
	text-decoration:underline;
}
