@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2017-10-18 15:39:16
 * @version $Id$
 */
.section .title-bar{
	position:relative;
	padding:0.267rem 0;
	font-size:0.667rem;
	color:#fff;
	background-color:#5CA451;
}
.section .title-bar h3{
	font-weight:normal;
	text-align: center;
}
.section .title-bar .back-to-index{
	position:absolute;
	top:0;
	left:2%;
	padding:0.267rem;
	font-size:0.667rem;
	color:#fff;
}
.section .title-bar .back-to-index a{
	display:block;
}

