@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2017-10-18 16:42:50
 * @version $Id$
 */
 @media screen and (max-width:576px){
 	body{
		background-color:#f8f8f8;
	}
}
.menu{
	height:1.8rem;
	color:#fff;
	font-size:0.75rem;
	line-height:1.8rem;
	background-color:#aaa;
	text-align:center;
}
.menu ul li{
	float:left;
	width:33.33%;
	cursor:pointer;
}
.menu ul li:hover{
	background-color:#DD4E42;
}

.menu-content{
	display:none;
	background-color:#f8f8f8;
}

.menu-content .activity-box .operation .state{
	color:#5dB431;
}
.menu-content .activity-box .operation .delete{
	color:#DD4E42;
	cursor:pointer;
}
.menu-content .activity-box .delete:hover{
	text-decoration:underline;
}
.menu-content ul li{
	padding:0.3rem;
}
.menu-content ul li:after{
	content: '';
	display: block;
	height: 0;
	line-height: 0;
	visibility: hidden;
	clear: both;
}
.menu-content ul li #modify{
	float:right;
	width:20%;
	font-size:0.6rem;
	color:#5dB431;
	line-height:1.2rem;
	text-align:center;
	cursor:pointer;
}
.menu-content ul li #modify:hover{
	text-decoration:underline;
}
.menu-content ul li span{
	display:block;
	float:left;
	width:20%;
	height:1.2rem;
	font-size:0.6rem;
	color:#454647;
	font-weight:bold;
	line-height:1.2rem;
	text-align:right;
}
.menu-content ul li input{
	display:block;
	float:left;
	margin-left:2%;
	width:70%;
	height:1.2rem;
	font-size:0.6rem;
	color:#454647;
	line-height:1.2rem;
	text-indent:1em;
	background-color:#f8f8f8;
	border:none;
	outline:none;
}
.menu-content ul li button{
	display:block;
	margin:auto;
	width:8rem;
	height:1.2rem;
	font-size:0.6rem;
	color:#fff;
	background-color:#DD4E42;
	border:none;
	outline:none;
	border-radius:2px;
	cursor:pointer;
}


.menu-content ul li #tip{
	height:2rem;
	font-size:0.6rem;
	color:#DD4E42;
	text-align:center;
	line-height:2rem;
}
